{% extends 'base.html' %}
{% block content %}
    <h1>About Books and Tea</h1>
    <hr />
    <h3>Collect Books with the Book Collector!</h3>
    <p>With this app, you can keep track of your favorite books, recent reads, or just make a nice big digital 'TBR' pile (we all have them, don't be shy!). 
        
    <p> In the books section you can add, remove, update and view the books on your list. Add your own thoughts, or a simple summary of the story you want to save, as well as a rating to indicate how much you loved it when you are done. 
        
    <p>In the Tea section, you can add favorite brands and blends, as well as make notes about steeping times and flavors. You can also add the teas to your books so you know what to drink the next time you sit down with a good book.</p>

    <p>Welcome to your personal library! Come in, sit down and relax with a book and a nice cup of tea.</p>
{% endblock %}