{% extends 'base.html' %}
{% block content %}
    <h2>About Books and Tea</h2>
    <h4>Any day is better with a good book and a cup of tea!</h4>
    <hr />
    <p>Signup and start keeping track of your favorite books, recent reads, or just make a nice big digital 'TBR' pile (we all have them, don't be shy!). 
        
    <p> Add, remove, update and view the books on your list. Add your own thoughts, or a simple summary of the story you want to save. You can leave a rating as well to show how much you loved it. 
        
    <p>In addition to books, add favorite tea brands and blends, and leave a note about it for everyone else.</p>

    <p>We all have our favorites, but sometimes you want make a note when the pairing was just perfect! Add from the list of teas added by yourself and other users to your books so you know just what to brew up the next time.</p>

    <p>Welcome to your personal library! Come in, sit down and relax with a book and a nice cup of tea.</p>
{% endblock %}